$header-border1: #E9724C;
$header-border2: #D94558;
$header-border3: #EF9C80;
$header-border4: #E06777;

$exercise-header1: #114B5F;
$exercise-header2: #2297BF;
$exercise-header3: #114B5FCC;
$exercise-header4: #2297BFCC;

$article-header1: #EED21BEE;
$article-header2: #BEA60ECC;
$article-header3: #EED21B;
$article-header4: #BEA60E;

.exercise-header {
    background-image: linear-gradient($exercise-header2, $exercise-header1);
    &:hover {
        background-image: linear-gradient($exercise-header4, $exercise-header3);
    }
}

.diet-plan-header {
    background-image: linear-gradient($header-border3, $header-border4);
    &:hover {
        background-image: linear-gradient($header-border1, $header-border2);
    }
}

.article-header {
    background-image: linear-gradient($article-header1, $article-header2);
    &:hover {
        background-image: linear-gradient($article-header2, $article-header4);
    }
}

.app-header {
    padding: 10px;
    &-img {
        img {
            width: 20%;
        }
    }
    &-menu {
        display: flex;
        justify-content: end;
        ul {
            width: 80%;
            display: flex;
            justify-content: space-around;
            margin-bottom: 0;
            li {
                box-sizing: border-box;
                list-style: none;
                .link {
                    text-decoration: none;
                    color: #fff;
                    font-size: 22px;
                    font-weight: 600;
                    margin: 0 12px;
                    text-transform: capitalize;
                }
                &:hover {
                    border-bottom: 3px solid #fff;
                }
            }
        }
            
    }
    &:hover {
        cursor: pointer;
    }
}

.diet-plan {
    background-image: url('./Assets/main3.jpg');
    background-repeat: no-repeat;
    transform: scaleX(-1);
    background-size: cover;
    width: 100%;
    height: 88vh;
    position: relative;
    &-form {
        position: absolute;
        top: 15vh;
        left: 15vh;
        border: 1px solid #D94558;
        border-radius: 10px;
        height: 60vh;
        width: 36%;
        transform: scaleX(-1);
        // background-color: #DD405544;
        background-color: #FBD4B1ee;

        .MuiInput-underline:after {
            border-bottom: 2px solid #D94558;
        }

        .MuiFormLabel-root.Mui-focused {
            color: #D94558;
        }
    }
}

.MuiPickersDay-daySelected {
    background-color: #D94558 !important;
    font-size: 30px;
}

.search-bar {
    input {
        width: 300px;
        height: 40px;
        font-size: 16px;
        color: #222;
        border-radius: 30px;
        border: 2px solid $article-header4;
        padding: 0 16px;
        &:focus {
            outline: none;
        }
    }
}